/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --bg-color: #020617;
  --fg-color: #f8fafc;
}

/* Main */
body {
  background-color: var(--bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--fg-color);
  margin: 2rem 0;
}

header {
  text-align: center;
}

.title {
  font-size: 2rem;
}

.status {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.ai-status {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  background-color: var(--fg-color);
  grid-gap: 5px;
}

.cell {
  font-size: 4rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background-color: color-mix(in srgb, var(--bg-color), white 25%);
}

.cell:active {
  background-color: color-mix(in srgb, var(--bg-color), white 40%);
}

.cell-disable {
  pointer-events: none;
}

.cell-highlight {
  background-color: color-mix(in srgb, var(--bg-color), green 75%);
}

.cell-last-move {
  background-color: color-mix(in srgb, var(--bg-color), deepskyblue 35%);
}

footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  text-align: center;
  margin-top: 3rem;
}

footer button {
  background-color: var(--fg-color);
  color: var(--bg-color);
  font-size: 1.25rem;
  padding: 8px 16px;
  border-width: 0 0 5px 0;
  border-color: color-mix(in srgb, var(--fg-color), black 5%);
  width: 10rem;
}

footer button:hover {
  filter: brightness(85%);
}

footer button:active {
  filter: brightness(85%);
  border-width: 0;
  transform: translateY(5px);
}
